<!DOCTYPE html>
<html>
  <body>
    <h1>
        Alphabet Guessing Game
    </h1>
    <p>Adapt from PHP version by Nutthanich Narphromar 6110545490</p>

    <% if (startButton) { %>
      <form action="" method="GET">
        <button type="submit">Start</button>
      </form>
      <!-- <a href="">Start</a> -->
    <% } else { %>
      <form action="", method="POST">
        <h2>Please choose A, B, C or D to 
          <% if (modeStr) { %>
            <%= modeStr %>
          <% } %>
           the 
          <% if (charOrder) { %>
            <%= charOrder %>
          <% } %>
           character
        </h2>
        
        <% if (question) { %>
          <h3>Question: <%= question %></h3>
        <% } else {%>
          <h3>Answer: <%= answer %></h3>
          <h3>Character(s) remaining: <%= guessing %></h3>
        <% } %>

        <h3>Choose: 
          <% if (question) { %>
            <button type="submit" name="questioning" value="A">A</button>
            <button type="submit" name="questioning" value="B">B</button>
            <button type="submit" name="questioning" value="C">C</button>
            <button type="submit" name="questioning" value="D">D</button>
          <% } else { %>
            <button type="submit" name="answering" value="A">A</button>
            <button type="submit" name="answering" value="B">B</button>
            <button type="submit" name="answering" value="C">C</button>
            <button type="submit" name="answering" value="D">D</button>
          <% } %>
          </h3>
  
        <% if (miss) { %>
          <p>Miss: <%= miss %></p>
        <% } %>
      </form>
    <% } %>

  </body>
</html>